body {
    margin: 0;
    font-family: 'Sour Gummy', sans-serif;
    color: rgb(248, 114, 114);
    font-size: large;
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  }
  
  header {
    background-color: rgb(173, 216, 230);
    color: white;
    width: 98%;
    padding: 1%;
    text-align: center;
  }
  
  nav {
    width: 100%;
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: blue;
  }
  
  .menu {
    margin: 0;
    padding: 8px;
    background-color: rgb(230, 255, 230);
  }
  
  .menu li {
    display: inline;
  }
  
  .buttonbetter {
    background-color: #aa0a04;
    border: none;
    color: white;
    padding: 30px 64px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  
  .button {
    font-size: 200%;
    font-style: none;
    color: rgb(255, 255, 255);
    padding: 8px;
    text-decoration: none;
    transition: 0.2s;
    border: 8px;
  }
  
  .button:link {
    background-color: rgb(255, 218, 185);
    color: white;
  }
  
  .button:hover {
    background-color: rgb(120, 110, 212);
    border: 2px solid white;
  }
  
  section {
    width: 50%;
    margin: 0 auto;
    min-height: 500px;
  }
  
  footer {
    background-color: rgb(230, 230, 250);
    color: white;
    width: 98%;
    padding: 1%;
    text-align: center;
    min-height: 50px;
    position: bottom;
  }
  
  .image-paragraph-container {
    display: flex;
    align-items: center;
  }
  
  .image-paragraph-container img {
    width: 400px;
    margin-right: 20px;
  }
  
  .mirrored {
    flex-direction: row-reverse;
  }
  
  .mirrored img {
    margin-right: 0;
    margin-left: 20px;
  }

  .image-text-container {
    display: flex; 
    align-items: center; 
    flex-direction: row-reverse; 
  }
  
  .image-text-container img {
    width: 400px; 
    margin-left: 20px; 
  }

  .nezh{
    float: center;
    padding: 5%;
}

.unnezh{
  float: center;
  padding: 5%;
}

.imnezh{
float: center;
padding: 2.5%;
max-width: 100%;
  height: auto;

}



.rounded-button {
  background-color: lightgreen; /* Starting color */
  color: white; /* Text color */
  padding: 15px 30px; /* Padding inside the button */
  border: none; /* No border */
  border-radius: 20px; /* Rounded corners */
  font-size: 18px; /* Text size */
  cursor: pointer; /* Change cursor to a pointer on hover */
  transition: background-color 0.3s ease; /* Smooth color transition */
}

.rounded-button:hover {
  background-color: lightcoral; /* Color on hover */
}
