


.syne-mono-regular {
    font-family: "Syne Mono", serif;
    font-weight: 400;
    font-style: normal;
  }
  

  .image-paragraph-container {
    display: flex; 
    align-items: left;
  }
  
  .image-paragraph-container img {
    width: 200px; 
    margin-right: 20px;
  }



body{
    margin: 0;
    font-family: 'syne-mono-regular';
    color:rgb(255, 119, 0);
    p.thicker {
        font-weight: 900;
      }
}

header{
    background-color: rgb(166, 67, 67);
    color: white;
    width: 98%;
    padding: 1%;
    text-align: center;
}
.nezh{
    float: left;
    padding: 5%;
}
nav{
    width: 100%;
    position:sticky;
    top: 0;
    overflow: hidden;
    background-color: blue;
}

.menu{
    margin: 0;
    padding: 8px;
    background-color: rgb(51, 148, 90);
}

.buttonbetter {
    background-color: #aa0a04; /* Green */
    border: none;
    color: white;
    padding: 30px 64px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

.menu li{
    display: inline;
}

.button{
    font-size: 200%;
    font-style: none;
    color: rgb(255, 255, 255);
    padding: 8px;
    text-decoration: none;
    transition: 0.2s;
}

section{
    width:50%;
    margin: 0 auto;
    min-height: 500px;
}

.button:link{
    background-color: rgb(52, 148, 90);
    color: white;
}

.button:hover{
    background-color: rgb(120, 110, 212);
    border: 2px solid white;
}

footer{
    background-color: rgb(166, 67, 67);
    color: white;
    width: 98%;
    padding: 1%;
    text-align: center;
    min-height: 50px;
    position:bottom;
}